@use 'tokens/_variables.css';

// Imports the primary font used for the application.
@import url("https://rsms.me/inter/inter.css");

// Imports the font used for various locations within the application
@font-face {
  font-family: "Cooper Lt BT";
  src: url("./fonts/cooper-lt-bt/cooper-lt-bt.woff2") format("woff2"),
    url("./fonts/cooper-lt-bt/cooper-lt-bt.woff") format("woff"),
    url("./fonts/cooper-lt-bt/cooper-lt-bt.ttf") format("truetype");
}

:root {
  --primary: var(--color-primary-10);
  --primary-lighter: var(--color-primary-20);
  --primary-darker: var(--color-primary-30);
  --secondary: var(--color-secondary-10);
  --secondary-lighter: var(--color-secondary-20);
  --secondary-darker: var(--color-secondary-30);
  --border-color: var(--color-primary-20);
  --background-light: var(--color-secondary-95);
  --text-primary: var(--color-utility-black);
  --text-secondary: var(--color-utility-white);
  --button-color: #FDF0D5;
}

//Global Styles
html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  line-height: normal;
  font-weight: normal;
  font-family: 'Inter', sans-serif;

  h1 {
    margin: 0;
    line-height: 1.2;
    letter-spacing: -0.01em;
    font-size: 32px;
  }
  
  a {
    color: var(--link-primary);
  }
}


