:root {
  --color-primary-10: #586F7C;
  --color-secondary-10: #C6D8D3;
  --color-secondary-20: #1A3F4C;
  --color-secondary-30: #245160;
  --color-secondary-40: #2E6775;
  --color-secondary-50: #427E8A;
  --color-secondary-60: #7AB0B8;
  --color-secondary-70: #99C7CC;
  --color-secondary-80: #BADCDE;
  --color-secondary-90: #DBEFF0;
  --color-secondary-95: #EDF7F6;
  --color-utility-black: #000000;
  --color-utility-white: #FFFFFF;
}