:root {
  --color-primary-10: #586F7C;
  --color-primary-20: #869dab;
  --color-primary-30: #2d4450;
  --color-secondary-10: #c6d8d3;
  --color-secondary-20: #f9ffff;
  --color-secondary-30: #95a7a2;
  --color-utility-black: #000000;
  --color-utility-white: #FFFFFF;
}