:root {
  --color-blue-10: #001642;
  --color-blue-20: #002B75;
  --color-blue-30: #004599;
  --color-blue-40: #0057C2;
  --color-blue-50: #006BD6;
  --color-blue-60: #389BF5;
  --color-blue-70: #66C0FF;
  --color-blue-80: #B1DEF6;
  --color-blue-90: #D1EEFA;
  --color-blue-95: #E6F9FE;
  --color-green-10: #00290A;
  --color-green-20: #004C0A;
  --color-green-30: #006806;
  --color-green-40: #007C02;
  --color-green-50: #009901;
  --color-green-60: #34CB34;
  --color-green-70: #7FE87D;
  --color-green-80: #ADF0A8;
  --color-green-90: #DBF5D6;
  --color-green-95: #EDFBE9;
  --color-neutral-10: #11151B;
  --color-neutral-20: #232C35;
  --color-neutral-30: #36444D;
  --color-neutral-40: #4A5C64;
  --color-neutral-50: #657A80;
  --color-neutral-60: #8E9FA4;
  --color-neutral-70: #A9B9BC;
  --color-neutral-80: #C4D1D4;
  --color-neutral-90: #E1E8EA;
  --color-neutral-95: #F0F4F5;
  --color-neutral-98: #F9FBFB;
  --color-primary-10: #002F33;
  --color-primary-20: #004F52;
  --color-primary-30: #007A70;
  --color-primary-40: #00997D;
  --color-primary-50: #00B288;
  --color-primary-60: #02C98F;
  --color-primary-70: #39E8AC;
  --color-primary-80: #73FBC6;
  --color-primary-90: #ACFFDD;
  --color-primary-95: #E6FFF5;
  --color-red-10: #250704;
  --color-red-20: #570F0C;
  --color-red-30: #861719;
  --color-red-40: #B2252D;
  --color-red-50: #E02932;
  --color-red-60: #F04E56;
  --color-red-70: #FF7A7B;
  --color-red-80: #FFB5B3;
  --color-red-90: #FFD8D6;
  --color-red-95: #FFF3F2;
  --color-secondary-10: #122A36;
  --color-secondary-20: #1A3F4C;
  --color-secondary-30: #245160;
  --color-secondary-40: #2E6775;
  --color-secondary-50: #427E8A;
  --color-secondary-60: #7AB0B8;
  --color-secondary-70: #99C7CC;
  --color-secondary-80: #BADCDE;
  --color-secondary-90: #DBEFF0;
  --color-secondary-95: #EDF7F6;
  --color-utility-black: #000000;
  --color-utility-white: #FFFFFF;
  --color-yellow-10: #331F00;
  --color-yellow-20: #5C3600;
  --color-yellow-30: #7A4800;
  --color-yellow-40: #995900;
  --color-yellow-50: #B26900;
  --color-yellow-60: #ED9C26;
  --color-yellow-70: #FDBD5D;
  --color-yellow-80: #FBD89D;
  --color-yellow-90: #FFEBC7;
  --color-yellow-95: #FFF8E6;
}