@import "../index.scss";

@mixin public_route_wrapper() {
  background-color: var(--primary);
  height: 100vh;
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin public_button() {
  background-color: var(--button-color);
  color: var(--text-primary);
  border-radius: 16px;
  font-size: 18px;
  border: none;

  &:hover {
    background-color: var(--primary-darker);
    color: var(--text-secondary);
  }
}